html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    margin: auto;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    color: white;
    border: 1px solid gainsboro;
    flex: none;
    aspect-ratio: 1 / 1;
}

.controlers{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 1em 0;
}
