html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    margin: auto;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    position: relative;
    color: white;
    border: 1px solid gainsboro;
    aspect-ratio: 1 / 1;
}

.controlers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin: 1em 0;
    align-items: flex-start;
}

main {
    display: flex;
    margin: auto;
    width: 800px;

}

/* * {
    outline: 1px solid red;
} */
